*{
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    font-family: 'Inter', sans-serif;
    background-color: #FFFFFF;
}

h1{
    color: #54007B;
}

a{
    text-decoration: none;
}