.containerfix{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    
}
.container2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container{
    padding-left: 10%;
    padding-right: 10%;
    
}

.container3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin-bottom: 18px;
    width: 700px;

    background: #FFFEFE;
    border: 1px solid #CDCDCD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
   
}

.buttontambah{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top:0px;
    margin-right: 0;   
}

.gambarharga{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 280px;
}

.totalprice{
    margin-top: auto;
    margin-right: 2%;
}

.totalprice p{
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 110px;
}

.btn-success
 {
    background: #5D0374;
    border-radius: 10px;
    border: none;
    padding: 12px;
    margin-bottom: 9px;
    cursor: pointer;

}

.container4{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-left:10%;
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    height: fit-content;
}
.container4 p{
    justify-content: space-between;
    display: flex;
    margin-top: 8px;
    padding-top: 18px;
}

input[type="submit"][value="Checkout"] {
    font-weight: 700;
  font-size: 15px;
  line-height: 15px;
    color: #FFFFFF;
  }


.cart-item-image{
    margin: 10px 10px;
}

span.cart-item-title
{
    margin-top: 10px;
}

.namecustom {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }

.box .namecustom .cart-item-title{
    color: #3D3D3E;
    font-size: 20px;
    line-height: 29px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.size{
    margin-top: auto;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
margin-bottom: 10px;
width: 72px;
height: 30px;
align-items: center;
padding: 0px 6px;
font-weight: 400;
margin-right:20px;

display: flex;
flex-direction: row;
justify-content: space-between;

}

.size p{
    margin-top: 2px;
    
    margin-bottom: 0px;
}

.box .namecustom a {
   margin-top: 0px;
  }

.box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
}

.subbox2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 5px;
}

.subbox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
}

.imutbutton {
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    /* additional styles */
    color: #3D3D3E;
    font-size: 12px;
    padding: 2px 15px;
    border: none;
    cursor: pointer;
  }

  .plusminus{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
    width: 120px;

    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
margin-bottom: 10px;
padding: 0px 6px;
height: 30px;
padding-top: 6px;
margin-right:20px;
  }

.plusminus p{
    margin: 0px 0px;
    
}
  
  
.image-container {
    position: relative;
    display: inline-block;
}
  
.design-image {
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}

.design1{
    top: 35%;
    left: 35%;
    width:15px; 
    height: 20px;
}

.design2{
    top: 52%;
    left: 50%;
    width:30px; 
    height:40px;
}

.design3{
    top: 35%;
    left: 50%;
    width:40px;
    height:25px;
}


