.image-container {
    position: relative;
    display: inline-block;
}
  
.design-image {
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}


.design1{
    top: 30%;
    left: 35%;
    width:42px; 
    height: 55px;
}

.design2{
    top: 52%;
    left: 50%;
    width:116px; 
    height:155px;
}

 #test{
    top: 40%;
    left: 50%;
    width:105px; 
    height:71px;
}


.container{
    margin: 0 5%;
    margin-bottom: 3%;
}

.design-option-container{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px 20%;
}

.design-option{
    border: 1px solid #DFDFDF;
    background: #FEFEFE;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    width: 296.97px;
    height: 302.69px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.desain-image-container{
    width: 90px;
    height: 90px;
    border: 1px solid #868686;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}

.desain-image-container img{
    width: 100%;
    height: 100%;
    padding:10px
}

.btn-danger{
    background: #CF4949;
    border-radius: 50px;
    color: #DFDFDF;
    padding:10px 20px ;
    border: none;
    margin-top:3% ;
}

.btn-save{
    background: #5D0374;
    border-radius: 50px;
    color: #DFDFDF;
    padding:10px 22px ;
    border: none;
}

.design-image-box{
    width: 90px;
    height: 90px;
    background: url(image.png);
    border: 1px solid #868686;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    padding: 5px;
}

.design-image-box img{
    width: 100%;
    height: 100%;
    
}


.design-updel-container{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.upload-form{
    margin-left: 2%;
    margin-bottom: 0;
}

.form-browse{
    margin-top: 3%;
}

.btn-upload{
    background: #09d483;
    border-radius: 50px;
    color: #000000;
    padding:10px 22px ;
    border: none;
    margin-top: 3%  ;
}

.desain-main-form-container{
    display: flex;
    flex-direction: column;
    margin-left: 1%;
}

button{
    padding: 5px 5px;
    font-size: 10px;
}

.save-design-option{
    padding: 1% 3%;
    margin-top: 2%;
    border-radius: 20px;
    border: none;
    background-color: #5D0374;
    color: #FEFEFE;
}

.placeholder1{
    top: 30%;
    left: 40%;
    width:42px; 
    height: 55px;
    background-color: #D9D9D9;
    opacity: 0.3;
}

.placeholder2{
    top: 52%;
    left: 49%;
    width:116px; 
    height:155px;
    background-color: #D9D9D9;
    opacity: 0.3;
}

.placeholder3{
    top: 40%;
    left: 50%;
    width:105px; 
    height:71px;
    background-color: #D9D9D9;
    opacity: 0.3;
}