.userr{
    color: red;
}

.container{
    
    padding-bottom: 50px;
   
}

.header{
    background: linear-gradient(89.98deg, #A620E5 2.26%, rgba(246, 66, 229, 0.9375) 52.95%, rgba(245, 113, 232, 0.89) 99.97%);
    height: 500px;
    
}

.image{
    height: 0px;
    position: relative;
    top:30px;
    left: 480px;
    z-index: 1;
}

.image img{
    height: 470px;
    width: auto;
}


.header-container{
    display: flex;
    flex-direction: column;
    /* width: 95%; */
    
    /* height: 294.97px; */
    margin: 0 auto;
    
}

.header-container-text{
    display: flex;
    width: 100%     ;
    flex-direction:column ;
    z-index: 2;
}

.header-container-img {
    padding-right: 5%;
    margin-bottom: 25px;
}

.make-design{
    margin-top: 2%;
    margin-left: 3.5%;  
    margin-right: auto;
    padding: 10px 15px;
    background-color: #54007B;
    color: white;
    border-radius: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;

}

.header-container h1,.header-container h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    line-height: 96px;
    text-align: center;

    color: #FAEEFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    
    font-family: 'Inter';
    font-style: normal;
}

.header-container h1{
    font-size: 64px;
    margin-bottom: 0px;

}

.header-container h2{
    font-size: 45px;
    margin-top: 0px;
    padding-top: 0px;
}

.category-title{
    margin-left: 3.5%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;

    line-height: 18px;
    color: #3D3D3E;
}

.categories{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));    
    gap: 50px 90px;
    justify-items: center;
    width: 100%;
    padding: 30px 1% 0px 1%;
}

.categorie{
    width: 200px;
    height: fit-content;
}

.categorie_name{
    display: block;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    align-content: center;
    margin-top: 10px;
    text-decoration: none;
    font-family: 'Inter';
    color: #54007B;
    text-decoration: none;
}

.categorie_img{
    display: block;
    width: 149px;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
}

.category-title{
    margin-top: 4%;
}

.products h2{
    margin-top: 4%;
    margin-left: 3.5%;
    font-size: 20px;
}
.product-wrapper{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 20% 5%;
    margin: 0 3.5%;
}

.product{
    width: 100%;
    height: 268.51px;
    background-color: #F6F6F6;
    border-radius:12px;
    
}



.product_img{
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius:12px 12px 0px 0px ;
}

.product-info{
    display: flex;
    flex-direction: row;

}

.product-price{
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color:#1F1F1F;
}
.product-name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color:#1F1F1F;
}

.add-btn {
    border: 2px solid black;
    padding: 5px 20px;
    border-radius:20px ;
    background-color: white;
  }


.add-btn:focus {
    background-color: #54007B;
    color: white;
}


.products{
    margin-bottom:10% ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.product-wrapper a {
    color: blue;
    text-decoration: none;
  }

.containerfix{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer{
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #A620E5;
    height: 300px;
    
}

.kotak3,.bestseller{
    display: flex;
    flex-direction: column;
}

.kotak1 {
    width:350px;
    display: flex;
    flex-direction: column;
    text-align: center;

}

h6{
font-family: 'Iceberg';

font-weight: 400;
font-size: 40px;
line-height: 49px;

color: #FFFFFF; 
margin-top: 20px;
margin-bottom: 0px;
}

.kotak1 p{
    
    font-style: normal;
    font-weight: 100;
    font-size: 17px;
    line-height: 20px;
    color: white;
}

.kotak2{

}

.kotak2 p, .kotak3 p,.judul p{
    font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 32px;

color: #FFFFFF;
padding-top: 5px;
margin-bottom: 10px;
}



.kotak4 a{
    color: white;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;

}

.fax p,.telp p,.email p{
    font-weight: 500;
font-size: 15px;
line-height: 20px;
color: #FFFFFF;
margin-top: 5px;
margin-bottom: 0px;
margin-left: 5px;
}

.fax,.telp,.email{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 5px;
}






.namelist {
    color: white;
    
  }
.listcategories2{
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 13.5px;
    line-height: 20px;
}

.kotak3{

}

.namelist{
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 13.5px;
    line-height: 20px;
}

.kotak4{
    width: 300px;

}



.sosmed .facebook{
    margin-top: 8px;
    margin-right: 8px;
    margin-left: -2px;
}

.sosmed .instagram{
    margin-bottom: 3px;
    margin-right: 8px;
}

.sosmed .whatsApp{
    
    margin-right: 8px;
}

.sosmed .line{
    margin-left: -2px;
    margin-right: 6px;
    width: 45px;
    height: auto; 
}

.sosmed .twitter{
    width: 45px; 
  height: auto;
}


