.container{
  background-image: url("/static/img/bg-login.svg");
  background-repeat: no-repeat;
  background-position: 10% center;
  background-size: contain;
}

.box {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 50%;
}

.form{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 100%;
  margin: 10% 20% 10% 20%;
  padding: 7%;
  justify-content: center;
  background: #fffcff;
  border-radius: 12px;
  border: 1px solid #e0dddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.form > * {
  display: flex;
  flex-direction: column;
}

.form  > p{
  flex-direction:row ;
  align-items: center;
  margin-top: 0;
  margin:0 auto ;
  margin-bottom: 30px;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.form  > p > a{
  margin-left: 3px;
}


h1 {
  font-style: normal;
  align-items: center;
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

input {
  background: #ebe4f5;
  border-radius: 10px;
  border: 0;
  margin-bottom: 25px;
  height: 48px;
  padding: 0 15px;
}

input[type="submit"] {
  background: #54007b;
  border-radius: 10px;
  border: 0;
  margin-bottom: 0;
  color:#D9D9D9 ;
  font-size: 18px;
}

input::placeholder {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
}

#error{
  color: red;
}