<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        {% load static %}
        <link rel="stylesheet" href="{% static '/base.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap" rel="stylesheet">
        <script type"text/javascript">
            var user = '{{request.user}}'

            function getToken(name){
                var cookieValue = null;
                if (document.cookie && document.cookie !== ''){
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++){
                        var cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')){
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getToken('csrftoken');

        </script>

    </head>
    <body>
        {% block content %}

        {% endblock content %}
        <script src="" async defer></script>
        {% comment %} add the cart.js scropt at static/js {% endcomment %}
        <script src="{% static '/js/cart.js' %}"></script>

    </body>
</html>