{% extends 'base.html'%}
{% block title %}Cart{% endblock title %}
{% block content %}

{% include 'navbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static '/cart.css' %}">


<div class="container">
    
    <h1>My Cart</h1>

    <div class="containerfix">

        <div class="container2"> 

            {% for item in items %}
            <div class="container3">
                
                <div class="gambarharga">
                    
                    <div class="cart-item">
                        {% if item.user_design %}
                            {% if item.user_design.design_option == 1%}
                            <div class="image-container">
                                <img class="cart-item-image" src="{{item.product.image.url}}" width="100" height="100">
                            <img src="{{ item.user_design.image.url }}" alt="Design Image"  class="design-image design1">
                            </div>
                            {% elif item.user_design.design_option == 2%}
                            <div class="image-container">
                                <img class="cart-item-image" src="{{item.product.image.url}}" width="100" height="100">
                                <img src="{{ item.user_design.image.url }}" alt="Design Image"  class="design-image design2">
                            </div>
                            {% elif item.user_design.design_option == 3%}
                            <div class="image-container">
                                <img class="cart-item-image" src="{{item.product.image.url}}" width="100" height="100">
                                <img src="{{ item.user_design.image.url }}" alt="Design Image"  id="test" class="design-image design3">
                            </div>
                            {% else %}
                                <img class="cart-item-image" src="{{ item.product.image.url }}" width="100" height="100">
                            {% endif %}
                        {% else %}
                            <img class="cart-item-image" src="{{item.product.image.url}}" width="100" height="100">
                        {% endif %}
                    </div>

                    <div  class="box">
                        
                        <div class="subbox">
                        
                            <div class="namecustom">
                                <p class="cart-item-title">{{item.product.name}}</p>
                                {% if item.product.designable %}
                        
                                <div class="desainimut">
                                    <input type="submit" class="imutbutton" onclick="window.location.href='{% url 'design' item.id %}'" value="Customize design">
                                </div>
                                {% endif %}
                            </div>

                            <div class="namacustom2">
                                <div class="subbox2">

                                    <div class="size">
                                        <p>Size :</p>
                                        <p>{{item.size}}</p>
                                </div>
                    
                                <div class="plusminus">
                                    <p> Qnt</p>
                                    <div class="buttontambah">
                                        <img data-product="{{item.id}}" data-action="add" class="chg-quantity update-cart2" src="" alt="+" >
                                        <p class="quantity">{{item.quantity}}</p>
                                        <img data-product="{{item.id}}" data-action="remove" class="chg-quantity update-cart2" src="" alt="-" >	
                                    </div>
                                </div>
                            
                            </div>
                            
                        </div>

                        
                        
                    </div>
                    
                </div>
                
            </div>
            

                
            <div class="totalprice">
                <p>Rp{{item.get_total}}</p>
            </div>

        </div>
        {% endfor %}
            
    </div>

        <div class="container4">
            <p><span>Total</span><span>{{order.get_cart_total}}<span></p>
            <input type="submit" class="btn-success" onclick="window.location.href='{% url 'checkout' %}'" value="Checkout">
        </div>

    </div>

</div>

{% endblock content %}