{% extends 'base.html'%}
{% block title %}Profil{% endblock title %}
{% block content %}

{% include 'navbar.html' %}
{% load static %}

<div class="container">
    <form method="post" >
        {% csrf_token %}
        <h1>Checkout</h1>
        <p>Shipping info</p>
        <div id="shipping-info">
            <label for="full_name">Nama lengkap</label>
            <input type="text" name="full_name" value="{{user.profile.full_name}}"><br>
            <label for="email">Email</label>
            <input type="text" name="email" value="{{user.email}}"><br>
            <label for="phone">No. Telepon</label>
            <input type="text" name="phone" value="{{user.profile.phone}}"><br>
            <label for="address">Alamat</label>
            <input type="text" name="address" value="{{user.profile.address}}"><br>
        </div>

        <div id="shipping-address">
            <label for="city">City</label>
            <input type="text" name="city" value="" required><br>
            <label for="province">Province</label>
            <input type="text" name="province" value="" required><br>
            <label for="address">Zip Code</label>
            <input type="text" name="zipcode" value="" required><br>
        </div>

        <div id="shipping-method">
            <p>Please select a shipping method</p>
            {% for exp in expeditions%}
                <input type="radio" name="expedition" value="{{exp.id}}">
                <label for="expedition">{{exp.name}}</label>
            {% endfor %}
        </div>

        <div class="order-summary">
            <p>Order Summary - #{{ order.transaction_id }} </p>
            <p> product  - quantity</p>
            {% for item in items%}
            <p>{{item.product.name}} : {{item.quantity}}</p>
            {% endfor %}
            <p>Total : {{order.get_cart_total}}</p>
            <p>Shipping Cost : 0</p>
            <p>Payment Method</p>
            <select name="payment">
            {% for payment in payments %}
                <option value="{{payment.id}}">{{payment.name}}</option>
            {% endfor %}
        </div>

        <hr>
        <input type="submit" class="btn btn-success" value="Continue">
    </form>
</div>

{% endblock content %}