{% extends 'base.html'%}
{% block title %}Design{% endblock title %}
{% block content %}
{% include 'navbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static '/design.css' %}">

<h1>Design Tools</h1>
{% comment %} Display the orderitem.image {% endcomment %}
{% if product_image %}
  {% if orderitem.user_design.image %}
    <div class="image-container">
      <img src="{{ product_image.url }}" alt="Image" width="250" height="250">
      <img src="{{ orderitem.user_design.image.url }}" alt="Design Image"  class="design-image">
    </div>
  {% else %}
    <img src="{{ product_image.url }}" alt="Image" width="250" height="250">
  {% endif %}
{% endif %}

{% if product_image %}
  {% if orderitem.user_design.image %}
    <div class="image-container">
      <img src="{{ product_image.url }}" alt="Image" width="250" height="250">
      <img src="{{ orderitem.user_design.image.url }}" alt="Design Image"  class="design-image design2">
    </div>
  {% else %}
    <img src="{{ product_image.url }}" alt="Image" width="250" height="250">
  {% endif %}
{% endif %}


{% if orderitem.user_design %}
    <h3>Design Image</h3>
    {% if orderitem.user_design.image %}
        <form method="POST" action="{% url 'delete_design_image' orderitem.id orderitem.user_design.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete Image</button>
        </form>
        <img src="{{ orderitem.user_design.image.url }}" alt="Design Image" width="50" height="50">
    {% endif %}

    <h3>Design Text</h3>
    {% if orderitem.user_design.text %}
    <p>{{ orderitem.user_design.text }}</p>
    <form method="POST" action="{% url 'delete_design_text' orderitem.id orderitem.user_design.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete Text</button>
    </form>
    {% endif %}
{% endif %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="design_image">Upload Design Image</label><br>
    <input type="file" name="design_image" class="" id="design_image"><br>
    <label for="design_text">Enter Design Text</label><br>
    <input type="text" name="design_text" class="" id="design_text"><br>
    <button type="submit" class="btn btn-primary">Save Design</button>
</form>
{% endblock content %}
