{% extends 'base.html' %}
{% block title%}Homepage{%endblock title%}
{% block content%}
{% load static %}
<link rel="stylesheet" href="{% static '/homepage.css' %}">

{% include 'navbar.html' %}

<div class="container" href="">
  {% comment %} Show user.email {% endcomment %}

  <h1>Kategori Pilihan</h1>
  <div class="categories">
        {% for c in categorie %}
        <div class="categorie">
            <img src="{{c.image.url}}" alt="" class="categorie_img">
            <a href="" class="categorie_name" > {{c.name}}</a>
        </div>
        {% endfor %}
  </div> 


  {% comment %} <h1>Products</h1>
  <div class="products">
    {% for p in product %}
    <div class="product">
      <div class="image-container">
        <img src="{{ p.image.url }}" alt="" class="product_img">
      </div>
      <p class="name">{{ p.name }}</p>
      <p class="price">Rp{{ p.price }}</p>
      <a href="product_detail">detail</a>
    </div>
    {% endfor %} {% endcomment %}

</div>
{% endblock content%}