{% extends 'base.html' %}
{% block title%}Homepage{%endblock title%}
{% block content%}
{% load static %}
<link rel="stylesheet" href="{% static '/homepage.css' %}">

{% include 'navbar.html' %}

<div class="container" href="">
  {% comment %} Show user.email {% endcomment %}

  <h1>Kategori Pilihan</h1>
  <div class="categories">
        {% for c in categorie %}
        <div class="categorie">
            <img src="{{c.image.url}}" alt="" class="categorie_img">
            <a href="" class="categorie_name" > {{c.name}}</a>
        </div>
        {% endfor %}
  </div> 

</div>
{% endblock content%}