{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '/login.css' %}">
<div class="container">
  <div class="box">
    <div class="form">

      <h1 class="login-title">Masuk</h1>
      <p class ="login-register">Belum punya akun? <a href="{% url 'register'%}">Daftar</a></p>
      <form action="" method="post">
          {% csrf_token %}
          <input type="text" name="username" placeholder="Username"  id="name-input">
          <input type="password" name="password" placeholder="Kata Sandi">
          <input type="submit" value="Masuk">
      </form>
      
      <div>
        {% if messages %} {% for message in messages %}
        <div class="{{ message.tag }}">{{ message }}</div>
        {% endfor%} {% endif %} 
      </div>  

    </div>
  </div>
</div>
{% endblock content %}