{% load static %}
<link rel="stylesheet" href="{% static '/navbar.css' %}">

<nav> 
    <ul>
        <li><a href="{% url 'homepage' %}">Home</a></li>
        {% if request.user.is_anonymous%}
        <li><a href="{% url 'register' %}">Daftar</a></li>
        <li><a href="{% url 'login' %}">Masuk</a></li>
        {% endif %}
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Keluar</a></li>
        <li class="userr"><a href="{% url 'profil' %}">{{ user }} </a></li>
        {% endif %}
    </ul>
</nav>