{% extends 'base.html'%}
{% block title %}Category{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '/categories.css' %}">

{% include 'navbar.html' %}

<div class="container">
    <div class="header">
        <h1>{{ category.name }}</h1>
    </div>
    <div class="products">
        {% for p in product %}
        <a href="{% url 'product_detail' p.pk %}" >
            <div class="product">
                <div class="image-container">
                    <img src="{{ p.image.url }}" alt="" class="product_img">
                </div>
                <p class="name">{{ p.name }}</p>
                <p class="price">Rp{{ p.price }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

{% endblock content %}