{% extends 'base.html'%}
{% block title %}Profil{% endblock title %}
{% block content %}

{% include 'navbar.html' %}

<div class="container">
    <h1>This is Product Detail page</h1>
    <div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} success-message">{{ message }}</div>
            {% endfor %}
        {% endif %}

      </div>  
    <div class="product">
        {% comment %} product image: <img src="{{product.image.url}}" alt="product image" width="200" height="200"> <br> {% endcomment %}
        <img id="mainImage" src="{{ product_images.first.image.url }}" alt="{{ product_images.first.description }}" width="200" height="200"><br>
        <div class="row">
          {% for image in product_images %}
            <div class="col-md-4">
              <img src="{{ image.image.url }}" alt="{{ image.description }}" class="thumbnail" onclick="updateMainImage('{{ image.image.url }}')" width="50" height="50">
              <p>{{ image.description }}</p>
            </div>
          {% endfor %}
        </div></br>
        product name: {{product.name}} <br>
        product price: {{product.price}} <br>
        product description: {{product.description}} <br>  
        product category: {{product.category}} <br>
    </div>
    <button data-product="{{product.id}}" data-action="add" class="btn add-btn update-cart" >Add to Cart</button>
</div>

<script>
  // Get the main product image
  const mainImage = document.getElementById('mainImage');
  // Function to update the main product image
  function updateMainImage(url) {
    mainImage.src = url;
  }
</script>

<script>
    setTimeout(function(){
        if (document.querySelector('.success-message')) {
            location.reload();
        }
    }, 1000);
</script>

{% endblock content %}