{% extends 'base.html'%}
{% block title %}Profil{% endblock title %}
{% block content %}

{% include 'navbar.html' %}

<div class="container">
    <h1>This is Product Detail page</h1>
    <div class="product">
        product image: <img src="{{product.image.url}}" alt="product image" width="200" height="200"> <br>
        product name: {{product.name}} <br>
        product price: {{product.price}} <br>
        product description: {{product.description}} <br>  
        product category: {{product.category}} <br>
    </div>
    {% comment %} Make the button when clicked redirect to cart {% endcomment %}
    <button data-product="{{product.id}}" data-action="add" class="btn add-btn update-cart" >Add to Cart</button>
</div>

{% endblock content %}