{% extends 'base.html'%}
{% block title %}Category{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '/categories.css' %}">

{% include 'navbar.html' %}

<div class="container">
    
    <h1>This is Product Per Category page</h1>
    <div class="products">
        {% for p in product %}
        <div class="product">
            <div class="image-container">
                <img src="{{ p.image.url }}" alt="" class="product_img">
              </div>
              <p class="name">{{ p.name }}</p>
              <p class="price">Rp{{ p.price }}</p>
              <a href="product_detail">detail</a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}