{% extends 'base.html'%}
{% block title %}Profil{% endblock title %}
{% block content %}

{% include 'navbar.html' %}

<div class="container">
    <h1>
        This is the profile page
    </h1>
    <p>{{user.username}}</p>
    <p>{{user.email}}</p>
    {% comment %} add user nama lengkap from profiles model {% endcomment %}
    <form action="/profil/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        Nama lengkap <input type="text" name="full_name" value="{{user.profile.full_name}}"><br>
        No. Telepon <input type="text" name="phone" value="{{user.profile.phone}}"><br>
        Alamat <input type="text" name="address" value="{{user.profile.address}}"><br>
        {% comment %} render the profile image {% endcomment %}
        <img src="{{user.profile.image.url}}" alt="profile image" width="100px"><br>
        <input type="file" name="image"><br>
        <input type="submit" value="submit">
    </form>
    
</div>

{% endblock content %}