{% extends 'base.html'%}
{% block title %}Purchase{% endblock title %}
{% block content %}
{% include 'navbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static '/purchase.css' %}">


<h1>My Purchase</h1>


<div class="container">
    {% for  order in orders %}
    
    <div class ="containerorder2">
        <div class="kotakkiri">
            <h2>Order Summary - #{{ order.order_id }}</h2>

            <div class="cart-row">
                {% for item in order.orderitem_set.all %}
                <div class="cart-item">
                    <div class="subcart">
                        <div class="image">
                            {% if item.product.image%}
                            <img class="cart-item-image" src="{{item.product.image.url}}" width="65" height="65">
                            {% else %}
                            <img class="cart-item-image" src="" width="65" height="65">
                            {% endif %}
                        </div>
                        <div class="itemtittle">
                            <span class="cart-item-title">{{item.product.name}}</span>
                            <p class="quantity">Qty: {{item.quantity}}</p>
                            <p class="size">Size: {{item.size}}</p>
                        </div>
                    </div>
                    
                    <div class="harga">
                        <p>Rp{{item.get_total}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
        
        <div class="kotakkanan">
            <div class="statuspayment {% if order.payment_status %}paid{% else %}unpaid{% endif %}">
                {% if order.payment_status %}
                    <p>Status: Paid</p>
                {% else %}
                    <p>Status: Unpaid</p>
                {% endif %}
            </div>

            <div class="infopayment">
                <div class="infodate">
                    <div class="infodate2">
                        <p><span>Date</span><span>{{ order.date_ordered|date:"F j, Y" }}</span></p>
                        <p><span>Time</span><span>{{ order.date_ordered|time }}</span></p>
                    </div>
                    <div class="infodate3">
                        <p><span>Courier</span><span>{{ order.expedition }}</span></p>
                        <p><span>Subtotal</span><span>Rp{{ order.get_cart_total }}</span></p>
                        <p><span>Shipping</span><span>Rp0</span></p>
                    </div>
                    <div class="infodate4">
                        <p><span>Total</span><span>Rp{{ order.get_cart_total }}</span></p>
                    </div>
                </div>

                    
                    {% if order.payment_status%}
                    <div class="infobutton1">
                        {% for shipment in shipments %}
                            {%  if shipment.order == order %}
                            <div class="tracking-container">
                                <p >Tracking Number</p>
                                <div class="tracking-num">
                                    <p > {{ shipment.tracking_number }}</p>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="infobutton">
                        <button onclick="window.location.href='{% url 'payment' order.pk %}'">Payment details</button>
                    </div>
                    {% endif %}

            </div>
        </div>

    </div>
    {% endfor %}
</div>

{% endblock content %}