{% extends 'base.html' %}
{% block title%}Register Page{%endblock title%}
{% block content%}
<div class="container">
    <h1>Daftar Sekarang</h1>
    <p>Sudah punya akun? <a href="{% url 'login'%}">Masuk</a></p>

    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username">
        <input type="email" name="email" placeholder="email">
        <input type="password" name="password1" placeholder="password">
        <input type="password" name="password2" placeholder="confirm password">
        <input type="submit" value="Daftar">
    </form>
    <div class="col-md-8">
        {% if errors %} {% for field, error in errors.items %}
        {% comment %} <div class="alert alert-danger">{{ field }}: {{ error|join:", " }}</div> {% endcomment %}
        <div class="alert alert-danger">{{ error|join:", " }}</div>
        {% endfor%} {% endif %} 
    </div>
</div>
{% endblock content%}